.env
repo_data.json
scratch.py
.venv

__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
.DS_Store
.venv/
venv/
env/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST